@page "/"
@inherits BaseRecipeInfo

<h3>RecipeInfo</h3>

<div class="card-deck">

    @foreach(var Ingredient in Ingredients)
    {
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%">
            <div class="card-header">
                <h3>@Ingredient.name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@Ingredient.photoPath"/>
        </div>
    }

</div>
