@page "/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@using Recipe.Web.Data.Models

<h3>Create</h3>
<Form ButtonText="Save Ingredient" ingredient="@ingredient"
      OnValidSubmit="@SaveIngredient" />
@code {
    Ingredient ingredient = new Ingredient();
    async Task SaveIngredient()
    {
        await http.PostAsJsonAsync("api/ingredientController", ingredient);
        uriHelper.NavigateTo("/Search");
    }
}