@page "/"
@using Recipe.Web.Data.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http


<h1>In The Fridge</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>You are signed out!!!</p>
    </NotAuthorized>
</AuthorizeView>
@if (recipeTest == null)
{
    <br />
    <br />
    <input type="text"
           @bind="searchedItem" />
    <button type="button" @onclick="searchClick">Enter</button>
    <br />
}

else
{
    if (recipeSearchButtonPressed == true)
    {
        <div class="card-deck">
            @foreach (var recipe in recipeTest.results)
            {
                <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                    <div class="card-header">
                        <h3>@recipe.title</h3>
                    </div>
                    <img class="card-img-top" src="@recipe.image" />

                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary m-1">Quick Description</a>
                        <a href="/recipepage/@recipe.id/@recipe.title" class="btn btn-primary m-1">View Recipe</a>
                       <!-- @if (displaySummarizationButtonPressed == true) -->
                      //  {
                     <!--       <p> @summarizeRecipe.summary.ToString()</p> -->
                     //   }
   
                    </div>
                </div>
            }
        </div>
    }
}


@code {

    public string searchedItem { get; set; }
    RootobjectRecipe recipeTest;
    private string ApiStarter = "https://api.spoonacular.com/recipes/complexSearch?query=";
    private string ApiKey = "&apiKey=d36cb53813e341069b3c81d6d3b61c31";
    private bool recipeSearchButtonPressed = false;

    private async Task searchClick()
    {

        if (searchedItem != null)
        {
            recipeTest = await Http.GetFromJsonAsync<RootobjectRecipe>
            (ApiStarter + searchedItem.ToString() + "&number=1" + ApiKey);
            recipeSearchButtonPressed = true;

        }
    }
}
