@page "/profile"
@using Recipe.Web.Data
@using Recipe.Web.Data.Models
<!--Outline of the user profile page -AL-->
<h3>My Profile</h3>
<img width="300" height="300" />


<br />
<label>About Me</label> <br />
<p id="Description">@desc</p>
<br />

<label>Email</label> <br />
<label>Username</label> <button @onclick="changeUserClick">Change Username</button><br />
<label>Password</label> <button @onclick="changePassClick">Change Password</button><br />

<label>My Recipes</label>
<ul>
    <li>Recipe 1</li>
</ul>

<button type="button" @onclick="editProfileClick">Edit Profile</button>
<p>@buttonCheck</p> 
@code {
    private string buttonCheck = "";
    private string desc = "*My Description*"; //testing that description is edited when button is pressed
    private string imgSrc = "";

    public void editProfileClick()
    {
        using RecipeContext recipeContext = new RecipeContext();

        Ingredient ingredient = new Ingredient()
        {
            
            Name = "Taco",
            InTheFridgeIngredientId = 3424,
            Quantity = 3,
            Unit = "Unit"

        };

        recipeContext.Ingredients.Add(ingredient);
        recipeContext.SaveChanges();
        buttonCheck = "edit profile button pressed";
    }

    private void changeUserClick()
    {
        buttonCheck = "change username button pressed";
    }

    private void changePassClick()
    {
        buttonCheck = "change password button pressed";
    }
}
