@page "/recipepage"
<!--This is just a very basic outline of what the recipe page
    will look like for now. -AL-->
<h3>*Recipe Name*</h3> <p>Date Added: TBD</p>
<br />
<body>
    <!--Picture and Description section (default picture and description) -AL-->
    <p class="foodinfo" text-align: center><img src="/images/taco.png" width="300" height="300" /> *Insert Eloquent Description Here*</p>
    <br />
    <!--This section displays the Ingredients and the Steps in tables -AL-->
    <!--Setup will change in the future -AL-->


    <ui class="ingredientList" float:left>
        @foreach (var x in iArray)
        {
            <li>@x</li>
        }
    </ui>
    <br />

    <oi class="stepList">
        @foreach (var y in sArray)
        {
            <li>@y</li>
        }
    </oi>


<br />

</body>
<br />
<div text-align:center>
    <h6>Reviews</h6>
<textarea></textarea> <br />
    <button @onclick="reviewClick">Post Review</button>
    <br /> <br />

    <button onclick="window.print()">Download</button>
    <!--<button type="button" @onclick="downloadClick">Download</button>-->
    <!--<button type="button" @onclick="shareClick">Share</button>-->
    <button type="button" @onclick="saveClick">Save</button>
    <br />

</div>
<br />
<!--Social Media Links -AL -->
<div>
    <a href="https://facebook.com/sharer.php?u=https://localhost:44345/recipepage" target="_blank">Facebook</a>
    <a href="https://twitter.com/intent/tweet?url=https://localhost:44345/recipepage" target="_blank">Twitter</a>
</div>
<p>Button Test: @testButtons</p>

@code {

    private string testButtons;
    private string[] iArray = { "Ingredient 1", "Ingredient 2", "Ingredient 3" };
    private string[] sArray = { "Step 1", "Step 2", "Step 3" };


    //share button event -AL
    private void shareClick()
    {
        testButtons = "share button pressed";
    }

    //save button event -AL
    private void saveClick()
    {
        testButtons = "save button pressed";
    }

    //post review button event -AL
    private void reviewClick()
    {
        testButtons = "review button pressed";
    }
}