@page "/userFridge"
@inject NavigationManager navigation;


<h3>Your Fridge</h3>

<br />
<div class="form-group">
    <a class="btn btn-success" href="/Search"><i class="oi oi-plus"></i>Search Ingredients</a>
</div>
<br />







@code {

}
